In [1]:
import pandas as pd
import quandl

In [6]:
df = quandl.get("FINRA/FNRA_GOOGL")

In [7]:
df.head()

            ShortVolume  ShortExemptVolume  TotalVolume
Date
2014-04-03      27587.0              109.0      56737.0
2014-04-04      34752.0              354.0      62450.0
2014-04-07      18990.0              185.0      35857.0
2014-04-08      20950.0               72.0      36196.0
2014-04-09      12055.0               20.0      27047.0